.footer{
    height: 500px;
    background-color: #F8F8F8;
    display: flex;
    justify-content: center;
}

.footer__content{
    overflow: hidden;
    max-height: 750px;
    max-width: 1410px;
    margin: 50px 0;
    gap:50px;
    display:flex;
    flex-direction: row;justify-content: space-between;
    object-fit: none;

}

.footer__blockLogo{
    display:flex;
    flex-direction: column;
    gap:20px;
    max-width: 300px;
    width: 100%;
    align-items:flex-start;
}
.footer__blockLogoLogo{
}
.footer__blockLogoIconYT{
    margin-left: 20px;

}
.footer__emailRegistrarion{
    display:flex;justify-content: space-around;
    align-items: center;
}
.footer__inputEmail{
    height: 60px;
    border-radius: 20px;
    font-size: 20px;
    max-width: 255px;
}

.footer__add{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__registration{
    max-width: 208px;
    /* border:0; */
}

.footer__aboutUs{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}