.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.header__content {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap:wrap;
    align-items: center;
    width: 100%;
    margin-top: 50px;
}
.header__spacer{
    flex:1;

}

.header__logo {
    height: 60px;
}

.header__mainButtons {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    gap: 25px;
    margin-right: 20px;
}

.header__logoProrile {
    cursor: pointer;
}

.header__menu {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box; 
    max-width: 1200px;
    margin: 50px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap:wrap;
    gap: 20px;
}

.header__link {
    text-align: center;
    gap: 5px;
    display: flex;
}

.header__linkText {
    font-size: 20px;
    width: min-content;

}

.header__linkArrow {
    width: 22px;
    background-image: url('../../img/header/arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
}