.mainWithSlider {
    position: relative;
    display: flex;
    padding-top: 650px;
    width: 100%;
    height: 100%;
    background-image: url('/img/main/рабочий стол 1.png');
    background-size: cover;             /* Растянет, чтобы заполнить всё пространство */
    background-position: center;        /* Центрирует картинку */
    background-repeat: no-repeat;       /* Чтобы картинка не дублировалась плиточкой */


}

.mainWithSlider__slider {

    position: absolute;
    z-index: -1;
}

.mainWithSlider__text {
    max-height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
