.mainWithSlider {
    position: relative;
    display: flex;
    width: 100%;
    height: 900px;
    /* background-image: url('/img/main/рабочий стол 1.png'); */
    flex-direction: column;
    justify-content: flex-end;

}

.mainWithSlider__slider {

    position: absolute;
    z-index: -1;
    width: 100%;
    height:100%;
}

.mainWithSlider__text {
    margin:20px 30px;
    max-height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    gap: 10px;
    max-width: 500px;
}

.mainWithSlider__goToStore{
    color: white;
    font-size: 24px;
    background-color: #B3D6B1;
    max-width: 350px;
    font-weight: 400;
}

.mainWithSlider__sliderZone{
    margin-bottom: 22px;
    display: flex;
    justify-content: center;
}

.mainWithSlider__sliderZone .swiper-pagination-bullet {
    width: 70px;           /* Ширина прямоугольника */
    height: 8px;           /* Высота (толщина) линии */
    border-radius: 0;      /* Убираем скругление, чтобы получился прямоугольник */
    background-color: #ffffff; /* Светлый цвет */
    opacity: 0.3;          /* Делаем его полупрозрачным (темно-прозрачный эффект на темном фоне) */
}

/* Стиль для активного прямоугольника */
.mainWithSlider__sliderZone .swiper-pagination-bullet-active {
    opacity: 1;            /* Убираем прозрачность (становится ярко-светлым) */
    background-color: #fff; /* Можно оставить белым или задать свой цвет (например, #B3D6B1) */
}

/* Общие стили для всех слайдов */
.swiper-slide {
    width: 100%;
    height: 100%; /* Слайд растянется на всю высоту контейнера .mainWithSlider */
    background-repeat: no-repeat;
    background-size: cover;    /* Картинка заполнит весь блок без черных полос */
    background-position: center; /* Центрируем изображение */
}

/* Пути к конкретным картинкам */
.slide-1 {
    background-image: url('../../img/main/slider/рабочий\ стол\ 1.png');
}

.slide-2 {
    background-image: url('../../img/main/slider/рабочий\ стол\ 2.png');
}

.slide-3 {
    background-image: url('../../img/main/slider/рабочий\ стол\ 3.png');
}