.mainAboutUs{
    margin-top: 100px;
    max-width: 620px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap:11px;
}

.mainAboutUs__header{
    font-size: 40px;
}

.mainAboutUs__text{
    font-size:24px;
    font-weight: 200;
    line-height: 150%;

}

.mainAboutUs__button{
    width: 487px;
    height: 83px;
    
}