.modal {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
}
.modal::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    opacity: 0.6;
    z-index: -1;
}

.modal__content {
    max-width: 500px;
    width: 100%;
    padding: 50px 0;
    background-color: rgb(230, 230, 230);
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    


}
.modal__form-registration{
    margin:0 auto;
}
.modal__formBlock{
    display: flex;
    flex-direction: column;
    max-height: 100%;
    max-width: 300px;
    width: 100%;

}

.modal__form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.modal__form{
    margin-top:20px;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.modal__form-input {
    border-radius: 105px;
    padding: 10px;
}

.modal__form-error-email{
    /* display:none; */
    font-size:14px;
    color:rgb(211, 0, 0);
}

.modal__form-error-password{
    /* display:none; */
    font-size:14px;
    color:rgb(211, 0, 0);

}

.modal__btn-close{
    user-select:none;
    margin: 10px auto;
    cursor:pointer;
}
.modal__btn {
    font-size: 24px;
    color:white;
}

.password-requirements__toggle {
    cursor: pointer;
    color: #333;
    text-decoration: underline;
    font-size: 14px;
}

.password-requirements__list {
    display:none;
    margin-top: 10px;
    font-size: 13px;
    color: #555;
}

.error {
    color: rgb(211, 0, 0);
}

.success {
    color: green;
}