body{
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
}

p, h1, a, button, input, label {
    font-family: 'Kanit', sans-serif;
}

p{
    font-size: 16px;
    font-weight: 400;
}

h1{
    font-size: 24px;
    font-weight: 800;
}

button{
    cursor:pointer;
}
input{
    cursor:text;
}
